[SddmGreeterTheme]
Name=Saint Innocent's
Name[az]=Saint Innocent's
Name[be]=Saint Innocent's
Name[bg]=Saint Innocent's
Name[bs]=Saint Innocent's
Name[ca]=Saint Innocent's
Name[ca@valencia]=Saint Innocent's
Name[cs]=Saint Innocent's
Name[da]=Saint Innocent's
Name[de]=Saint Innocent's
Name[el]=Saint Innocent's
Name[en_GB]=Saint Innocent's
Name[eo]=Saint Innocent's
Name[es]=Saint Innocent's
Name[et]=Saint Innocent's
Name[eu]=Saint Innocent's
Name[fi]=Saint Innocent's
Name[fr]=Saint Innocent's
Name[gl]=Saint Innocent's
Name[hu]=Saint Innocent's
Name[ia]=Saint Innocent's
Name[id]=Saint Innocent's
Name[is]=Saint Innocent's
Name[it]=Saint Innocent's
Name[ja]=Saint Innocent's
Name[ka]=Saint Innocent's
Name[ko]=Saint Innocent's
Name[lt]=Saint Innocent's
Name[nb]=Saint Innocent's
Name[nds]=Saint Innocent's
Name[nl]=Saint Innocent's
Name[nn]=Saint Innocent's
Name[pl]=Saint Innocent's
Name[pt]=Saint Innocent's
Name[pt_BR]=Saint Innocent's
Name[ro]=Saint Innocent's
Name[ru]=Saint Innocent's
Name[sk]=Saint Innocent's
Name[sl]=Saint Innocent's
Name[sr]=Saint Innocent's
Name[sr@ijekavian]=Saint Innocent's
Name[sr@ijekavianlatin]=Saint Innocent's
Name[sr@latin]=Saint Innocent's
Name[sv]=Saint Innocent's
Name[ta]=Saint Innocent's
Name[tg]=Saint Innocent's
Name[tr]=Saint Innocent's
Name[uk]=Saint Innocent's
Name[vi]=Saint Innocent's
Name[x-test]=Saint Innocent's
Name[zh_CN]=Saint Innocent's
Name[zh_TW]=Saint Innocent's
Description=Saint Innocent's theme derived from KDE's Breeze
Description[ar]=Saint Innocent's theme derived from KDE's Breeze
Description[az]=Saint Innocent's theme derived from KDE's Breeze
Description[be]=Saint Innocent's theme derived from KDE's Breeze
Description[bg]=Saint Innocent's theme derived from KDE's Breeze
Description[ca]=Saint Innocent's theme derived from KDE's Breeze
Description[ca@valencia]=Saint Innocent's theme derived from KDE's Breeze
Description[cs]=Saint Innocent's theme derived from KDE's Breeze
Description[da]=Saint Innocent's theme derived from KDE's Breeze
Description[de]=Saint Innocent's theme derived from KDE's Breeze
Description[en_GB]=Saint Innocent's theme derived from KDE's Breeze
Description[eo]=Saint Innocent's theme derived from KDE's Breeze
Description[es]=Saint Innocent's theme derived from KDE's Breeze
Description[et]=Saint Innocent's theme derived from KDE's Breeze
Description[eu]=Saint Innocent's theme derived from KDE's Breeze
Description[fi]=Saint Innocent's theme derived from KDE's Breeze
Description[fr]=Saint Innocent's theme derived from KDE's Breeze
Description[gl]=Saint Innocent's theme derived from KDE's Breeze
Description[hi]=Saint Innocent's theme derived from KDE's Breeze
Description[hu]=Saint Innocent's theme derived from KDE's Breeze
Description[ia]=Saint Innocent's theme derived from KDE's Breeze
Description[id]=Saint Innocent's theme derived from KDE's Breeze
Description[is]=Saint Innocent's theme derived from KDE's Breeze
Description[it]=Saint Innocent's theme derived from KDE's Breeze
Description[ja]=Saint Innocent's theme derived from KDE's Breeze
Description[ka]=Saint Innocent's theme derived from KDE's Breeze
Description[ko]=Saint Innocent's theme derived from KDE's Breeze
Description[lt]=Saint Innocent's theme derived from KDE's Breeze
Description[nl]=Saint Innocent's theme derived from KDE's Breeze
Description[nn]=Saint Innocent's theme derived from KDE's Breeze
Description[pl]=Saint Innocent's theme derived from KDE's Breeze
Description[pt]=Saint Innocent's theme derived from KDE's Breeze
Description[pt_BR]=Saint Innocent's theme derived from KDE's Breeze
Description[ro]=Saint Innocent's theme derived from KDE's Breeze
Description[ru]=Saint Innocent's theme derived from KDE's Breeze
Description[sk]=Saint Innocent's theme derived from KDE's Breeze
Description[sl]=Saint Innocent's theme derived from KDE's Breeze
Description[sv]=Saint Innocent's theme derived from KDE's Breeze
Description[ta]=Saint Innocent's theme derived from KDE's Breeze
Description[tg]=Saint Innocent's theme derived from KDE's Breeze
Description[tr]=Saint Innocent's theme derived from KDE's Breeze
Description[uk]=Saint Innocent's theme derived from KDE's Breeze
Description[vi]=Saint Innocent's theme derived from KDE's Breeze
Description[x-test]=Saint Innocent's theme derived from KDE's Breeze
Description[zh_CN]=Saint Innocent's theme derived from KDE's Breeze
Description[zh_TW]=Saint Innocent's theme derived from KDE's Breeze
Author=KDE Visual Design Group, modified by Sean Michael Fitzgerald
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=breeze
Theme-API=2.0
